@model Drank;


@{
  ViewBag.Title = "Drank Details";
}

  <table>
    <tr class="header">
      <th>Id</th>
      <th>Name</th>
      <th>NameBrand</th>
      <th>type</th>
      <th>AlcoholPersentage</th>
    </tr>
    <tr *ngFor="let r of list.Data">
      <td>@Model.Id</td>
      <td>@Model.name</td>
      <td>@Model.NameBrand</td>
      <td>@Model.type</td>
      <td>@Model.AlcoholPersentage</td>
      <td>
       
        </a>
      </td>
    </tr>
  </table>
</div>