@model DrankAPI.Models.Drank;

<div *ngIf="list" class="center">
  <button [disabled]="!CanFirst()" (click)="First()">First</button>
  <button [disabled]="!CanPrev()" (click)="Prev()">Previous</button>
  <button [disabled]="!CanNext()" (click)="Next()">Next</button>
  <button [disabled]="!CanLast()" (click)="Last()">Last</button>
  <br/>
  <br/> Search by TAG:
  <input type="text" [(ngModel)]="Search" placeholder="Enter the Tag here" />

  <table>
    <tr class="header">
      <th>Id</th>
      <th>Name</th>
      <th>NameBrand</th>
      <th>type</th>
      <th>AlcoholPersentage</th>
    </tr>
    <tr *ngFor="let r of list.Data">
      <td>@Model.Id</td>
      <td>@Model.name</td>
      <td>@Model.NameBrand</td>
      <td>@Model.type</td>
      <td>@Model.AlcoholPersentage</td>
      <td>
        <a routerLink="/detail/{{r.Id}}">
          <button> Meer info</button>
        </a>
      </td>
    </tr>
  </table>
</div>