@model Drank;


@{
  ViewBag.Title = "Drank Details";
}
<style>
  .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
  

  #products {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  }

  #products td, #products th {
  border: 1px solid #ddd;
  padding: 8px;
    }

  #products tr:nth-child(even){background-color: #f2f2f2;}

  #products tr:hover {background-color: #ddd;}

  #products th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

  <table id="products">
    <tr class="header">
      <th>Id</th>
      <th>Name</th>
      <th>NameBrand</th>
      <th>type</th>
      <th>Quantity</th>
      <th>AlcoholPersentage</th>
    </tr>
    <tr>
      <td>@Model.Id</td>
      <td>@Model.name</td>
      <td>@Model.NameBrand</td>
      <td>@Model.type</td>
      <td>@Model.Quantity</td>
      <td>@Model.AlcoholPersentage</td>
      <td>
       
        </a>
      </td>
    </tr>
    <div class="card-footer">
        <a asp-controller="home" asp-action="index" class="button">Back</a>
        <a href="#" class="button">Edit</a>
        <a href="#" class="button">Delete</a>
    </div>
  </table>
</div>